body {
  background-color: rgb(25, 25, 25);
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 50px;
}

.move-icon {
  height: 70px;
}

.move-button {
  cursor: pointer;
  height: 150px;
  width: 150px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px;
  transition: background-color 0.3s;
}
.move-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.buttons {
  width: 700px;
  display: flex;
  justify-content: center;
  gap: 30px; /* This adds space between buttons */
  margin: 30px auto; /* This centers the container and adds vertical space */
}

.result {
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;
}

.score {
  font-size: 30px;
  font-weight: bold;
}

.reset-score-button,
.auto-play-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  transition: background-color 0.3s;
}

.reset-score-button:hover,
.auto-play-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
